body {
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	font-family: "PT Sans", "Arial", Sans-serif;
	color: #333333;
}

.search-title {
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
	font-family: "PT Sans", "Arial", Sans-serif;
	color: #000;
}

.reason-title,
.feature-title {
	font-size: 21px;
	font-weight: bold;
	line-height: 21px;
	font-family: "PT Sans", "Arial", Sans-serif;
	color: #000;
	text-transform: uppercase;
}

.reason-title-white {
	color: #fff;
}

.result-title{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	font-family: "PT Sans", "Arial", Sans-serif;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.welcome-img {
	background: url("../img/background-photo-index.jpg") no-repeat;
}

.map {
	width: 1200px;
	height: 473px;

	background: url("../img/map.jpg") no-repeat;
}

/*.social-btn {
	width: 46px;
	height: 48px;

	background-color: #81b3d2;
}*/

