body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", Sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;

	cursor: pointer;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*Стилизация хедера*/

.main-navigation {
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color:  #81b3d2;

	outline: none;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);

	outline: none;
}

.site-navigation .active {
	color: #766357;
}

/*Стилизация главной страницы*/

.welcome-img {
	position: relative;
	background: #a4bdcf url(../img/background-photo-index.jpg) top center no-repeat;

}

.background-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../img/background-photo-index-bottom.png) no-repeat;
}

.reasons p {
	line-height: 26px;
	text-align: center;
}

.reasons b {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.reason-information {
	color: #ffffff;

	text-align: center;

	background-color: #81b3d2;
}

.reason-information h3,
.feature-item h3,
.reason-item h3 {
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
}

.features-list {
	list-style: none;
}

.feature-item {
	text-align: center;
}

.reason-list {
	list-style: none;
}

.reason-item {
	text-align: center;
}

.search-hotel {
	text-align: center;
}

.search-hotel h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	color: #000;
}

.search-hotel p {
	line-height: 24px;
}

.btn {
	font-family: "PT Sans", "Arial", Sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
	outline: none;

	cursor: pointer;
}

.search-hotel .btn:hover,
.search-hotel .btn:focus {
	background-color: #604e43;
}

.search-hotel .btn:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.search-form p {
	font-family: "PT Sans", "Arial", Sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	
	color: #000000;
}

.search-form input {
	font-family: "PT Sans", "Arial", Sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	
	color: #000000;

	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;

	cursor: pointer;
}

.search-form input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
	
	outline: none;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	
	outline: none;
}

.search-form .btn {
	text-align: center;
	color: #a9a9a9;
	vertical-align: middle;

	background-color: #f2f2f2;
	border: #f2f2f2;
	outline: none;
}

.search-form .btn:hover,
.search-form .btn:focus {
	color: #000000;
}

.search-form .btn:active {
	color: #81b3d2;
}

.search-form .btn-submit {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

	color: #ffffff;

	background-color: #81b3d2;
	border: none;
}

.search-form .btn-submit:hover,
.search-form .btn-submit:focus {
	color: #ffffff;

	background-color: #669ec0;
	border: none;
}

.search-form .btn-submit:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
	border: none;
}

.map {
	width: 1200px;
	height: 473px;

	background: url("../img/map.jpg") no-repeat;
}


/*Стилизация футера*/

.main-footer b {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

	color: #000000;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-btn {
	background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
	color: #000000;
}

.social-btn:active {
	color: #81b3d2;
}

.footer-copyright b {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}

.footer-copyright svg:hover,
.footer-copyright svg:focus {
	fill: #81b3d2;
}

.footer-copyright svg:active {
	fill: #bdbbbc;
}

/* Стилизация страницы catalog.html */
.filters {
	background: #5b6f81 url(../img/filter-background.jpg) no-repeat;
}

.filters .filter-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;

	color: #ffffff;
}

.checkbox-infrastructure,
.checkbox-accommodation {
	list-style: none;

	color:#ffffff;
}

.checkbox-input input,
.checkbox-input label {
	cursor: pointer;
}

.checkbox-input:disabled + label {
	color: #727171;
}

.price-controls input{
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	color: #ffffff;

	background: transparent;
	border: 2px solid #ffffff;
}

/*.price-controls .min-price {
	border-right: none;
}

.price-controls .max-price {
	border-left: none;
}*/

.filters .btn {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	color: #ffffff;

	background: transparent;
	border: 2px solid #ffffff;
}

.filters .btn:hover,
.filters .btn:focus {
	color: #000000;

	background: #ffffff;
}

.sorting span {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;

	color: #000000;
}

.sorting p {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.sorting-filter {
	list-style: none;
}

.sorting-filter .sorting-type {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;

	color: rgba(0, 0, 0, 0.3);

	text-decoration: underline;
	text-decoration-color: #81b3d2;
	text-decoration-style: dotted;

	/*opacity: 0.3;*/
}

.sorting-filter .active {
	color: #81b3d2;

	text-decoration: none;
}

.sorting-filter .sorting-type:hover,
.sorting-filter .sorting-type:focus {
	color: #81b3d2;
}

.sorting-filter .sorting-type:active {
	color: #000000;
}

.icon svg {
	fill: #cccccc;
}

.icon .active {
	fill: #81b3d2;
}

.icon svg:hover,
.icon svg:focus {
	fill: #000000;
}

.icon svg:active {
	fill: #81b3d2;
}

.result-title a{
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	
	color: #000;

	text-transform: uppercase;
	text-decoration: none;
}

.result-title a:hover,
.result-title a:focus {
	color: #81b3d2;
}

.result-title a:active {
	color: rgba(0, 0, 0, 0.3);
}

.result-info .btn {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;

	color: #ffffff;
}

.result-info .result-more {
	background-color: #81b3d2;
}

.result-info .result-more:hover,
.result-info .result-more:focus {
	background-color: #669ec0;
}

.result-info .result-more:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.result-info .result-book {
	background-color: #766357;
}

.result-info .result-book:hover,
.result-info .result-book:focus {
	background-color: #604e43;
}

.result-info .result-book:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.result-rating ul {
	list-style: none;
}

.result-rating span {
	color: #666666;

	background-color: #f2f2f2;
}

